.header{
  width: 100%;
  background: #222222;
  position: fixed;
  top: 0;
  min-width: 1200px;
  .headerlist{
    margin: 0 auto;
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: left;
    background: #222222;
    .headeritem{
      &:hover{
        background: #555;
        a{
          color: dodgerblue;
        }
      }
      a{
        line-height: 20px;
        color: white;
        text-decoration: none;
      }
      padding: 10px;
    }
  }
}